a {
  display: block;
  width: 200px;
  height: 100px;
  background-color: red;
  font-size: 22px;

  color: white;
  text-decoration: none;
  text-align: center;

  line-height: 100px;
  border: 2px solid yellow;

}

div {
  width: 100px;
  height: 100px;
  background-color: orange;
  transition: 1s .5s;
 
}

div:hover {
  width: 300px;
  background-color: royalblue;
}